<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            after="Image Reader"
            category-path="/community/knip/io"
            deprecated="false"
            factory-class="de.mpicbg.ulman.nodeNetImgSource.ReaderNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            after="Image Writer"
            category-path="/community/knip/io"
            deprecated="false"
            factory-class="de.mpicbg.ulman.nodeNetImgSink.WriterNodeFactory">
      </node>
   </extension>

</plugin>
